body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.listen-it {
  position: relative;
  overflow: auto;
  width: 760px;
  background: #F1F6FC;
  border: 4px solid #424F7B;
  border-radius: 24px;
  max-height: 500px;
  box-sizing: content-box;
}

.appLogo {
  width: 100px;
  margin: 20px 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
  margin-bottom: 49px;
}

.appTitle, .welcomeMsg {
  font-size: 44px;
  text-align: left; 
  padding: 0 8%;
  width: 100%;
  box-sizing: border-box;
}

.appTitle {
  font-size: 44px;
}

.welcomeMsg {
  font-size: 30px;
}

.instructions {
  display: none;
}

.button-style {
  background-color: rgb(31, 45, 93);
  width: 641px;
  height: 99px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.stopMode {
  background-color: rgb(132, 0, 2);
}

.cross {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 50px;
  right: 70px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 225px;
}

::-webkit-scrollbar-thumb {
  background-color: #94A3D1; 
  border-radius: 8px;
  padding-top: 30px;
  border: 1px solid black;
}
