
.listen-it {
  &.welcomeSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(241 246 252);
    outline-offset: -4px;
    border-radius: 24px;
    outline: rgb(66 79 123) solid 4px;
  }

  .appLogo {
    position: absolute;
    inset: 62px 66px auto 764px;
    width: 41px;
  }

  .contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 53px;
    margin: 61px auto;
    width: 80.71%;
  }

  .appTitle {
    font: 400 48px/1.21 Inter, Helvetica, Arial, serif;
    color: rgb(21 21 22);
  }

  .welcomeMsg {
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(21 21 22);
  }

  .hoverMode {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 34.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .fullPageMode {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 34.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .selectedTextMode {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 34.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .stopMode {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(132 0 2);
    padding: 34.5px 8px;
  }
}
