.lkij {
  &.welcomeSection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgb(241 246 252);
    outline-offset: -3px;
    border-radius: 22px;
    outline: rgb(66 79 123) solid 3px;
  }

  .contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 49px;
    margin: 56px auto;
    width: 80.7%;
  }

  .appTitle {
    font: 400 44px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(21 21 22);
  }

  .mainDescription {
    font: 400 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(21 21 22);
  }

  .hoverInstruction {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 31.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .pageContentInstruction {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 31.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .selectedTextInstruction {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(31 45 93);
    padding: 31.5px 8px;
    box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
  }

  .stopInstruction {
    display: flex;
    justify-content: center;
    margin: 0 3px 0 0;
    font: 400 30px/1.2 Inter, Helvetica, Arial, serif;
    color: rgb(255 255 255);
    text-align: center;
    background-color: rgb(132 0 2);
    padding: 31.5px 8px;
  }

  .assistantIcon {
    position: absolute;
    top: 5.47%;
    right: 6.39%;
    width: 56px;
  }

  .colorAccent {
    position: absolute;
    top: 136px;
    right: 53px;
    width: 12px;
    height: 225px;
    background-color: rgb(148 163 209);
    border-radius: 6px;
  }
}