body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  overflow: hidden;
}

.listen-it {
  position: relative;
  overflow: auto;
  width: 760px;
  background: #F1F6FC;
  border: 4px solid #424F7B;
  border-radius: 24px;
  max-height: 500px;
  box-sizing: content-box;
}

.appLogo {
  width: 100px;
  margin: 20px 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 49px;
  margin-bottom: 49px;
}

.appTitle, .welcomeMsg {
  font-size: 44px;
  text-align: left; 
  padding: 0 8%;
  width: 100%;
  box-sizing: border-box;
}

.appTitle {
  font-size: 44px;
}

.welcomeMsg {
  font-size: 30px;
}

.instructions {
  display: none;
}

.button-style {
  background-color: rgb(31, 45, 93);
  width: 641px;
  height: 99px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.button-style:hover, .button-style:focus {
  background-color: #2C3D73;
}

.stopMode {
  background-color: rgb(132, 0, 2);
}

.stopMode:hover, .stopMode:focus {
  background-color: #AB0205;
}

.cross {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 50px;
  right: 70px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 12px;
  height: 225px;
}

::-webkit-scrollbar-thumb {
  background-color: #94A3D1; 
  border-radius: 8px;
  border: 1px solid black;
}

.active-mode {
  background-color: #007bff; /* Синій колір при активації */
  color: white;
  font-weight: bold;
}

input[type="range"] {
  appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #18285C;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 58px;
  height: 58px;
  border-style: solid;
  border-width: 6px;
  border-color:#18285C;
  border-radius: 50%;
  background: #CDD6F3;
  cursor: pointer;
}

.hidden {
  display: none;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 62px;
  background: #D1D4E8;
  border: 4px solid #1F2D5D;
  border-radius: 8px;
}

#ignoreAds:checked + label .checkmark::after {
  content: ""; 
  position: absolute;
  display: block;
  left: 19px; 
  top: 19px; 
  width: 25px;
  height: 25px;
  background-color: #1F2D5D; 
}

.ignoreAds:checked + label .checkmark::after {
  display: block;
}

input[type="range"]:focus {
  opacity: 1;
}

.settingsIcon:hover {
  opacity: 0.8;
}

.configContainer {
  position: relative;
  align-items: center;
  flex-direction: column;
  row-gap: 0;
  margin: 56px auto;
  width: 80.71%;
}

.settingsButton {
  background: none;
  border: none;
  cursor: pointer;
}

.modeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
  width: 90.47%;
  background-color: rgb(31 45 93);
  padding: 34.5px 8px;
  box-shadow: inset 4px 4px 4px 0 rgb(42 58 110 / 100%);
}

.modeIcon {
  width: 40px;
  height: 40px;
}

.modeTitle {
  display: flex;
  justify-content: center;
  margin: 1px 0 0;
  width: 220px;
  height: 39px;
  font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}

.speedControl, .toneControl {
  display: flex;
  flex-direction: column;
  width: 85%;
  gap: 10px;
}

.speedInputControl, .toneInputControl {
  display: flex;
  align-items: center;
}

.speedLabel, .toneLabel {
  margin-right: 20px;
  font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(21 21 22);
}

#speechRate, #speechPitch {
  width: 60px;
  height: 40px;
  padding: 5px;
  font-size: 24px;
  background-color: #B6BFDA;
  text-align: center;
  border: 1px solid #A0A4A8;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

#speedRate::-webkit-outer-spin-button,
#speedRate2::-webkit-inner-spin-button,
#speechPitch::-webkit-outer-spin-button,
#toneRate::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sliderContainer {
  width: 100%;
  min-height: 64px;
  margin-top: 10px;
}

.sliderIcon {
  position: absolute;
  left: 0%;
  width: 100%;
}

.sliderTrack {
  position: absolute;
  top: 0;
  left: 155px;
  width: 64px;
  height: 100%;
  background-color: rgb(205 214 243);
  outline-offset: -6px;
  border-radius: 32px;
  outline: rgb(51 67 120) solid 6px;
}

.adBlockToggle {
  display: flex;
  align-items: center;
  column-gap: 29px;
  margin: 74px 0 0;
  width: 77.95%;
}

.adBlockIcon {
  width: 67px;
}

.adBlockLabel {
  font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
  color: rgb(21 21 22);
}
.button-style.active {
    background-color: #007bff; /* Або інший колір */
    color: white;
}
#saveSettings {
  background-color: rgb(31, 45, 93);
  width: 641px;
  height: 99px;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
.button-style.active {
  background-color: #4CAF50; /* Зелене підсвічування для активної кнопки */
  color: white;
}

.listen-it2.settingsSection::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.listen-it2.settingsSection::-webkit-scrollbar-track {
  background: #CDD6F3;
  border-radius: 6px;
}

.listen-it2.settingsSection::-webkit-scrollbar-thumb {
  background: #424F7B;
  border-radius: 6px;
  border: 1px solid #F1F6FC;
}

.listen-it2.settingsSection::-webkit-scrollbar-thumb:hover {
  background: #18285C;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 641px;
}

.dropdown-btn {
    font: 400 32px/1.22 Inter, Helvetica, Arial, serif;
    background-color: #1F2D5D;
    height: 90px;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: left;
    position: relative;
    text-overflow: ellipsis;
}

.dropdown-btn::after {
    content: " ▼";
    position: absolute;
    right: 10px;
}

.dropdown-content {
    font: 400 30px/1.22 Inter, Helvetica, Arial, serif;
    display: none;
    position: absolute;
    background-color: #CCD4EF;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-item:nth-child(even) {
    background-color: #B6BFDA;
}

.dropdown-item:nth-child(odd) {
    background-color: #CCD4EF;
}

.dropdown-content div {
    text-align: center;
    height: 90px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    text-overflow: ellipsis;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}
.root {
  display: flex;
  flex-direction: column;
  background-color: rgb(241 246 252);
  outline-offset: -3px;
  border-radius: 22px;
  outline: rgb(31 45 93) solid 3px;
  width: 639px;
}

.flex_col {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  margin: 51px auto;
  width: 82.47%;
}

.desc {
  display: flex;
  justify-content: center;
  font: 30px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(21 21 22);
  text-align: center;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: rgb(31 45 93);
  box-shadow: inset 4px 4px 4px 0 rgb(79 92 139 / 100%);
}

.info {
  display: flex;
  justify-content: center;
  margin: 32px 40px 31px;
  font: 30px/1.2 Inter, Helvetica, Arial, serif;
  color: rgb(255 255 255);
  text-align: center;
}